<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- spring配置原则：第一：配置扫描注解包，排除controller包，把bean注解对象存入IOC容器中
                       第二：配置数据源，包括参数文件
                       第三：配置sqlSessionFactoryBean,及映射文件路径
                       第四：配置事务管理器
                       第五：配置切面切入点
                       第六：配置事务执行方法
                       -->
    <!-- 扫描包配置 -->
    <context:component-scan base-package="com.tu.mvctest" use-default-filters="false">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- 参数配置文件 -->
    <context:property-placeholder location="classpath:applicationContext.properties"/>
    <!-- 数据源配置 -->
    <bean id = "dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="defaultAutoCommit" value="false"/>
    </bean>

    <!-- 配置sqlSessionFactoryBean -->
    <bean id = "sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:mapping/*.xml"/>
    </bean>

    <!-- 配置MappingManger -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.tu.mvctest.dao.mapper"/>
    </bean>

    <!-- 为每个mapper接口创建个bean,可以用MapperScannerConfigurer代替 -->
    <!--
    <bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.tu.mvctest.dao.mapper.UserTabMapper"/>
    </bean>-->

    <!-- 配置sqlSessionTemplate -->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory"/>
        <constructor-arg name="executorType" value="BATCH"/>
    </bean>

    <!-- 配置工厂bean,在xml中的配置方式和普通bean无任何差别，在java代码中需要实现FactoryBean,并重写三个方法 -->
    <!-- 返回的是工厂方法getObject() 真实实现的bean -->
    <bean id="factoryBean" class="com.tu.mvctest.test.iocDemo.FactoryBeanTest"></bean>
</beans>